@charset "UTF-8";
/* ***  Responsive *** */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

/* Polices de caractéres */
body {
  font-family: "roboto", serif, sans-serif;
  overflow-x: hidden;
}

footer h3 {
  font-family: "shrikhand";
  font-weight: 100;
  margin-bottom: 0;
  padding-left: 1.1rem;
}

.nom-restaurant__titre {
  font-family: "shrikhand";
  font-weight: 100;
  margin: 0;
  padding: 1rem 0;
  padding-right: 1rem;
}

.btn {
  transition: all 300ms;
}
.btn__big {
  background: linear-gradient(174deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 8px 10px 0 #c5c5c5;
  border-radius: 25px;
  color: white;
  font-weight: 500;
}
.btn__big--acceuil {
  padding: 1rem 1.4rem;
}
.btn__big--menu {
  padding: 1rem 2.5rem;
  width: 30%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.btn:hover, .btn:focus {
  filter: brightness(120%);
  box-shadow: 0px 3px 12px 7px #a0a0a0;
}

.restaurant__heart {
  font-size: 1.5rem;
  padding-right: 1rem;
  display: flex;
}
.restaurant__heart--off {
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}
.restaurant__heart--on {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(174deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}
.restaurant__heart--off:hover .restaurant__heart--on {
  transform: scale(1);
  opacity: 1;
}
.restaurant__heart--off:hover {
  background: linear-gradient(174deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

/* ***** Home Acceuil * *****/
.restaurant__card {
  height: 250px;
  margin-bottom: 1.1rem;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 10px 0px #c5c5c5;
}
.restaurant__photo {
  height: 69.6%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
}
.restaurant__photo--01, .restaurant__photo--03, .restaurant__photo--04 {
  -o-object-position: bottom;
     object-position: bottom;
}
.restaurant__photo--02 {
  -o-object-position: 0 61%;
     object-position: 0 61%;
}
.restaurant img {
  height: 100%;
}
.restaurant__new {
  position: absolute;
  top: 16%;
  left: 83%;
  transform: translate(-50%, -50%);
  background: #99E2D0;
  border-radius: 3px;
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  color: #008766;
}
.restaurant__fig {
  display: flex;
  justify-content: space-between;
  height: 30.4%;
  align-items: center;
  background-color: white;
  border-bottom-right-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}
.restaurant__text {
  font-size: 1.2rem;
  padding: 1rem;
}
.restaurant__text--bold {
  font-weight: 800;
  padding-bottom: 0.2rem;
}

/* ******************************
   ***** Restaurants Menu **** */
.card-menu {
  margin-top: 1rem;
}
.card-menu a {
  background: white;
  border-radius: 1.2rem;
  box-shadow: 0px 8px 10px 0 #e6e6e6;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-left: 0.7rem;
  align-items: center;
  overflow: hidden;
}
.card-menu--text {
  display: flex;
  flex-direction: column;
  width: 98%;
}
.card-menu--titre {
  font-weight: 700;
  margin: 0;
  padding: 0 0.3rem 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}
.card-menu--description-prix {
  display: flex;
  justify-content: space-between;
}
.card-menu--description {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.card-menu--prix {
  font-weight: 700;
  padding-right: 1.2rem;
  padding-left: 1em;
}
.card-menu--selection {
  height: 100%;
}

/* *** Animations *** Page Menu - Apparition progressive */
@-webkit-keyframes apparitionMenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparitionMenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.card-menu {
  -webkit-animation-name: apparitionMenu;
          animation-name: apparitionMenu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  transform: scale(0);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  /* &__delay-1 {
    animation-delay: 0s;
  }

  &__delay-2 {
    animation-delay: 0.2s;
  }

  &__delay-3 {
    animation-delay: 0.4s;
  }

  &__delay-4 {
    animation-delay: 0.6s;
  } */
}
.card-menu--text {
  transition-duration: 0.5s;
}
.card-menu--prix {
  transition-duration: 0.5s;
}

/* boucle */
.card-menu__delay-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.card-menu__delay-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.card-menu__delay-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.card-menu__delay-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

/* *** Animations *** Plats - Coche à droite du plat */
.card-menu--selection {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 20%;
  border-radius: 0 1.2rem 1.2rem 0;
  color: white;
  background-color: #99E2D0;
  margin: 0 -10rem;
  transition-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.card-menu--selection-icon {
  transition-duration: 0.7s;
}
.card-menu:hover .card-menu--selection {
  margin: 0;
}
.card-menu:hover .card-menu--selection-icon {
  transform: rotate(1turn);
}
.card-menu:hover .card-menu--text {
  width: 79%;
}
@media all and (min-width: 1400px) {
  .card-menu:hover .card-menu--text {
    width: 85%;
  }
}

html,
body {
  height: 100%;
}

.loader-chargement {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  -webkit-animation: loader-out 3s both;
          animation: loader-out 3s both;
  position: fixed;
  width: 100%;
  z-index: 2;
}

@-webkit-keyframes loader-out {
  99% {
    transform: translate(0);
  }
  100% {
    transform: translate(1000000px);
  }
}

@keyframes loader-out {
  99% {
    transform: translate(0);
  }
  100% {
    transform: translate(1000000px);
  }
}
.loader-spinner {
  position: relative;
  -webkit-animation: rotator 1.4s infinite;
          animation: rotator 1.4s infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #9356DC;
  }
  25% {
    stroke: #FF79DA;
  }
  50% {
    stroke: #99E2D0;
  }
  75% {
    stroke: #f6f6f6;
  }
  100% {
    stroke: #eaeaea;
  }
}

@keyframes colors {
  0% {
    stroke: #9356DC;
  }
  25% {
    stroke: #FF79DA;
  }
  50% {
    stroke: #99E2D0;
  }
  75% {
    stroke: #f6f6f6;
  }
  100% {
    stroke: #eaeaea;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
.header h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-top: 0.9rem;
}
.header__logo {
  max-width: 160px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.container-menu {
  padding: 0.8rem;
  margin: 0;
  padding-top: 0;
}
.container-menu h2 {
  margin: 0;
  padding: initial;
  font-size: 1rem;
  font-weight: 400;
}
.container-menu__boderbottom {
  width: 2.5rem;
  border-bottom: 3px solid #99E2D0;
  padding-top: 0.3rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eaeaea;
  padding: 0.7rem 1rem 1rem 3rem;
}
form #zn_saisie {
  border: none;
  background-color: #eaeaea;
  padding-left: 1rem;
  font-weight: 600;
}
form #zn_saisie--border-top-shadow {
  background: linear-gradient(180deg, #cfcfcf 0%, #eaeaea 100%);
  height: 5px;
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
}
footer a {
  color: white;
}
footer li {
  display: flex;
  align-items: center;
}
footer .about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  height: 60%;
  padding: 0.5rem 1.1rem;
  justify-content: space-evenly;
}
footer .about__icon {
  font-size: 0.7rem;
  margin-right: 0.8rem;
}

/*  Page acceuil 
********************/
/* *** Descriptif *** */
#descriptif {
  text-align: center;
  padding: 1rem 0;
  background-color: #f6f6f6;
  padding-bottom: 4.5rem;
}
#descriptif h3 {
  font-weight: 300;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

h2 {
  font-size: 1.7rem;
  padding: 0 2rem;
}

/* *** Fonctionnement *** */
article {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
article h2 {
  font-size: 1.5rem;
  padding-left: 1rem;
}

ul {
  padding: 1.1rem;
}

.use {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 83%;
  margin-left: 1rem;
}
.use--background {
  padding: 1.7rem;
  padding-left: 0;
  background-color: #f6f6f6;
  border-radius: 1.8rem;
  box-shadow: 0px 3px 10px 3px #e6e6e6;
}
.use--background:last-child {
  background-color: #f2eafb;
}
.use__li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  right: 9%;
}
.use__number {
  background-color: #9356DC;
  padding: 2px 7px;
  border-radius: 25px;
  color: white;
}
.use__icon--mobile {
  font-size: 1.3rem;
  color: #7e7e7e;
}
.use__icon--list {
  color: #7e7e7e;
}
.use__icon--store {
  color: #9356DC;
}
.use em {
  font-weight: 600;
  font-style: normal;
}
.use__em--move {
  position: relative;
  left: 4%;
}

/* *** Restaurants *** */
section {
  background-color: #f6f6f6;
  padding: 2rem 0 1rem 0;
}
section h2 {
  font-size: 1.5rem;
  padding-left: 1.1rem;
}

.restaurant {
  padding-top: 0;
}
.restaurant a {
  height: 100%;
}

/* ***  Responsive *** */
@media all and (max-width: 330px) {
  .use--background {
    padding-right: 0;
  }
}

@media all and (max-width: 330px) {
  .use {
    margin-left: 0;
  }
}

@media all and (max-width: 330px) {
  .restaurant__new {
    left: 77%;
  }
}

@media all and (max-width: 330px) {
  .use em {
    font-size: 0.9em;
  }
}

@media all and (max-width: 330px) {
  .use {
    max-width: 100%;
    margin-left: 5px;
  }
}

@media all and (min-width: 500px) {
  .use__li {
    justify-content: flex-start;
    right: 3%;
  }
}

@media all and (min-width: 500px) {
  .use__em--move {
    left: 0;
  }
}

@media all and (min-width: 500px) {
  .use {
    max-width: 73%;
    margin-left: 4rem;
  }
}

@media all and (min-width: 500px) {
  article h2 {
    padding-left: 3rem;
  }
}

@media all and (min-width: 500px) {
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media all and (min-width: 500px) {
  .use__icon {
    margin-right: 3rem;
    margin-left: 4rem;
  }
}

@media all and (min-width: 500px) and (max-width: 809px) {
  .restaurant__card {
    height: 336px;
    margin-bottom: 2.1rem;
  }
}

@media all and (min-width: 500px) and (max-width: 809px) {
  .restaurant__new {
    top: 12%;
    left: 87%;
  }
}

@media all and (min-width: 809px) and (max-width: 1100px) {
  ul.restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 577px;
    align-content: space-around;
  }
}

@media all and (min-width: 809px) and (max-width: 1100px) {
  .restaurant__card {
    width: 46%;
    margin-bottom: 0;
  }
}

@media all and (min-width: 809px) and (max-width: 1100px) {
  section h2 {
    padding-left: 2.1rem;
  }
}

@media all and (min-width: 809px) {
  .use {
    width: 26rem;
  }
}

@media all and (min-width: 809px) {
  article h2 {
    padding-left: 6rem;
  }
}

@media all and (min-width: 809px) {
  .use {
    margin-left: 6rem;
  }
}

@media all and (min-width: 1100px) {
  article {
    background: #f6f6f6;
    margin: 0;
    padding: 3rem 0;
  }
}

@media all and (min-width: 1100px) {
  #descriptif {
    float: right;
    margin: 10rem 6% 0 0;
    display: flex;
    flex-direction: column;
    width: 44%;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media all and (min-width: 1100px) {
  #descriptif h3 {
    padding: 0 1rem;
    margin-bottom: 4rem;
  }
}

@media all and (min-width: 1100px) {
  ul.restaurant {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 492px;
    justify-content: space-between;
    padding: 0;
  }
}

@media all and (min-width: 1100px) {
  .restaurant__card {
    width: 46%;
    margin-bottom: 0;
  }
}

@media all and (min-width: 1100px) {
  section {
    padding-bottom: 6rem;
  }
}
@media all and (min-width: 1100px) {
  section h2 {
    padding-left: 2.1rem;
  }
}

@media all and (min-width: 1100px) {
  .restaurant__photo {
    height: 79.6%;
  }
}
@media all and (min-width: 1100px) {
  .restaurant__card {
    width: 24%;
    height: 396px;
  }
}
.menu__photo {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  height: 1200px;
  background-color: #f6f6f6;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  padding-top: 0.7rem;
  position: relative;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -3rem;
  padding-bottom: 5rem;
}
.menu .nom-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 92%;
  margin-bottom: -1rem;
}

/* ***  Responsive *** */
@media all and (max-width: 330px) {
  .btn__big--menu {
    width: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 1100px) {
  .menu__photo {
    height: 498px;
  }
}

@media all and (min-width: 500px) and (max-width: 1100px) {
  .menu {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media all and (min-width: 500px) and (max-width: 1100px) {
  footer {
    padding-left: 1rem;
  }
}

@media all and (min-width: 500px) and (max-width: 1100px) {
  .card-menu--selection {
    width: 6rem;
  }
}
@media all and (min-width: 809px) {
  .card-menu--selection {
    width: 5rem;
  }
}

@media all and (min-width: 500px) and (max-width: 1100px) {
  .card-menu:hover .card-menu--text {
    width: 83%;
  }
}
@media all and (min-width: 500px) and (max-width: 809px) {
  .card-menu:hover .card-menu--text {
    width: 80%;
  }
}
@media all and (min-width: 809px) and (max-width: 1100px) {
  .card-menu:hover .card-menu--text {
    width: 86%;
  }
}

@media all and (min-width: 1100px) {
  .menu {
    width: 47%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f6f6f6e3;
    transform: translate(98%, 5%);
    border-radius: 3rem;
    margin-bottom: 1.6rem;
  }
}

@media all and (min-width: 1100px) {
  .fas.fa-arrow-left {
    padding-left: 2rem;
  }
}

@media all and (min-width: 1100px) {
  .menu__photo {
    height: 1317px;
    position: absolute;
    -o-object-position: right;
       object-position: right;
  }
}

@media all and (min-width: 1100px) {
  .header__menu {
    justify-content: space-between;
    width: 55%;
  }
}

@media all and (min-width: 1100px) {
  footer {
    flex-direction: row;
    height: 125px;
    align-items: center;
  }
}

@media all and (min-width: 1100px) {
  footer .about {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 7rem;
  }
}

@media all and (min-width: 1100px) {
  footer h3 {
    padding-left: 2.1rem;
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=style.css.map */