.header {
  h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  &__logo {
    max-width: 160px;
    // width: 160px;
  }
  &__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
  }
}
