.btn {
  transition: all 300ms;
  &__big {
    background: linear-gradient(174deg, $colorSecondary 0%, $colorPrimary 100%);
    @include shadows;
    border-radius: 25px;
    color: white;
    font-weight: 500;
  }

  &__big--acceuil {
    padding: 1rem 1.4rem;
  }

  &__big--menu {
    padding: 1rem 3.5rem;
  }

  &:hover,
  &:focus {
    filter: brightness(120%);
    box-shadow: 0px 3px 12px 7px #a0a0a0;
  }
}

/*
.fa-heart {
  &:hover + .fa-heart::after,
  &:focus + .fa-heart::after {
    transform: scale(1);
  }
  .fa-heart::after {
    content: "\f004";
    position: absolute;
    background: linear-gradient(174deg, $colorSecondary 0%, $colorPrimary 100%);
    @include shadows;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.1);
    transition: transform 3000ms;
  }
} */
