/* ***** Home Acceuil * *****/
.restaurant {
  &__card {
    height: 250px;
    //padding-bottom: 1.1rem;
    margin-bottom: 1.1rem;
    border-radius: 1.2rem;
    @include shadows($offset-y: 0px, $spread-radius: 0px);
  }
  &__photo {
    height: 69.6%;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    &--01,
    &--03,
    &--04 {
      @include position;
    }
    &--02 {
      @include position($position: 0 61%);
    }
    //@include shadows($offset-y: 0px, $spread-radius: 0px);
  }
  img {
    height: 100%;
  }
  &__new {
    position: absolute;
    top: 16%;
    left: 83%;
    transform: translate(-50%, -50%);
    background: $colorThird;
    border-radius: 3px;
    padding: 0.4rem 0.8rem;
    font-weight: 700;
    color: #008766;
  }
  &__fig {
    display: flex;
    justify-content: space-between;
    height: 30.4%;
    align-items: center;
    background-color: white;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    //@include shadows($offset-y: 0px, $spread-radius: 0px);
  }
  &__text {
    font-size: 1.2rem;
    padding: 1rem;
    &--bold {
      font-weight: 800;
      padding-bottom: 0.2rem;
    }
  }
}

/* ******************************
   ***** Restaurants Menu **** */
.card-menu {
  margin-top: 1rem;
  a {
    background: white;
    border-radius: 1.2rem;
    @include shadows($colour: lighten(#c5c5c5, 13));
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 0.6rem;
    align-items: center;
  }
  &--text {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
  &--titre {
    font-weight: 700;
    margin: 0;
    padding-bottom: 0.3rem;
    @include rogner;
  }
  &--description {
    margin: 0;
    display: flex;
    justify-content: space-between;
    @include rogner;
  }
  &--prix {
    font-weight: 700;
    padding-right: 1.2rem;
  }
  &--selection {
    height: 100%;
  }
}

/* *** Animations *** Page Menu - Apparition progressive */
@keyframes apparitionMenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-menu {
  animation-name: apparitionMenu;
  animation-duration: 1s;
  // animation-delay: 0.2s;
  // transition-delay: 500ms;
  transform: scale(0);
  animation-fill-mode: both;
  &--text {
    transition-duration: 0.5s;
  }
  &--prix {
    transition-duration: 0.5s;
  }
  /* &__delay-1 {
    animation-delay: 0s;
  }

  &__delay-2 {
    animation-delay: 0.2s;
  }

  &__delay-3 {
    animation-delay: 0.4s;
  }

  &__delay-4 {
    animation-delay: 0.6s;
  } */
}

/* boucle */
@for $i from 1 through 4 {
  .card-menu__delay-#{$i} {
    animation-delay: ($i * 0.2s);
  }
}

/* *** Animations *** Plats - Coche à droite du plat */
.card-menu {
  &--selection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 20%;
    border-radius: 0 1.2rem 1.2rem 0;
    color: white;
    background-color: $colorThird;
    margin: 0 -10rem;
    transition-duration: 0.5s;
    animation-fill-mode: forwards;
    &-icon {
      transition-duration: 0.7s;
    }
  }
  &:hover .card-menu--selection {
    margin: 0;
  }
  &:hover .card-menu--selection-icon {
    transform: rotate(1turn);
  }
  &:hover .card-menu--text {
    width: 79%;
  }
}
