/* Polices de caractéres */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

// application de la police
body {
  font-family: "roboto", serif, sans-serif;
  overflow-x: hidden
}

footer h3 {
  @include shrikhand;
  margin-bottom: 0;
  padding-left: 1.1rem;
}

.nom-restaurant__titre {
  @include shrikhand;
  margin: 0;
  padding: 1rem 0;
  padding-right: 1rem;
}
