#descriptif {
  text-align: center;
  padding: 1rem 0;
  background-color: $colorFourth;
  padding-bottom: 4.5rem;
  h3 {
    font-weight: 300;
    margin-bottom: 3rem;
  }
}

h2 {
  font-size: 1.7rem;
  padding: 0 2rem;
}
