/*  Page acceuil 
********************/

/* *** Descriptif *** */
#descriptif {
  text-align: center;
  padding: 1rem 0;
  background-color: $colorFourth;
  padding-bottom: 4.5rem;
  h3 {
    font-weight: 300;
    margin-bottom: 3rem;
    padding: 0 1rem;
  }
}

h2 {
  font-size: 1.7rem;
  padding: 0 2rem;
}

/* *** Fonctionnement *** */
article {
  margin-top: 3rem;
  margin-bottom: 3rem;
  h2 {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
}

ul {
  // padding-left: 1rem;
  padding: 1.1rem;
}

.use {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 83%;
  margin-left: 1rem;
  &--background {
    padding: 1.7rem;
    padding-left: 0;
    background-color: $colorFourth;
    border-radius: 1.8rem;
    @include shadows(
      $offset-y: 3px,
      $spread-radius: 3px,
      $colour: lighten(#c5c5c5, 13)
    );
    // 0px 3px 10px 3px
    &:last-child {
      background-color: lighten($colorPrimary, 35);
    }
  }
  &__li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 9%;
  }
  &__number {
    background-color: $colorPrimary;
    padding: 2px 7px;
    border-radius: 25px;
    color: white;
  }
  &__icon--mobile {
    font-size: 1.3rem;
    color: #7e7e7e;
  }
  &__icon--list {
    color: #7e7e7e;
  }
  &__icon--store {
    color: $colorPrimary;
  }
  em {
    font-weight: 600;
    font-style: normal;
  }
  &__em--move {
    position: relative;
    left: 4%;
  }
}

/* *** Restaurants *** */
section {
  background-color: $colorFourth;
  padding: 2rem 0 1rem 0;

  h2 {
    font-size: 1.5rem;
    padding-left: 1.1rem;
  }
}

.restaurant {
  padding-top: 0;
  a {
    height: 100%;
  }
}

/* ***  Responsive *** */
// < 500px

.use--background {
  @include mobile-small {
    padding-right: 0;
  }
}

.use {
  @include mobile-small {
    margin-left: 0;
  }
}

.restaurant__new {
  @include mobile-small {
    left: 77%;
  }
}

.use em {
  @include mobile-small {
    font-size: 0.9em;
  }
}

.use {
  @include mobile-small {
    max-width: 100%;
    margin-left: 5px;
  }
}

//   500px à 810px
// > 500px
.use__li {
  @include mobile-max {
    justify-content: flex-start;
    right: 3%;
  }
}

.use__em--move {
  @include mobile-max {
    left: 0;
  }
}

.use {
  @include mobile-max {
    //max-width: 71%;
    max-width: 73%;
    margin-left: 4rem;
  }
}

article h2 {
  @include mobile-max {
    padding-left: 3rem;
  }
}

section {
  @include mobile-max {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.use__icon {
  @include mobile-max {
    margin-right: 3rem;
    margin-left: 4rem;
  }
}

.restaurant__card {
  @include tablet-small {
    height: 336px;
    margin-bottom: 2.1rem;
  }
}

.restaurant__new {
  @include tablet-small {
    top: 12%;
    left: 87%;
  }
}

// 810px à 1100px
ul.restaurant {
  @include tablet-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 577px;
    align-content: space-around;
  }
}
.restaurant__card {
  @include tablet-desktop {
    width: 46%;
    margin-bottom: 0;
  }
}

section h2 {
  @include tablet-desktop {
    padding-left: 2.1rem;
  }
}

.use {
  @include tabletmore {
    width: 26rem;
  }
}

article h2 {
  @include tabletmore {
    padding-left: 6rem;
  }
}

.use {
  @include tabletmore {
    margin-left: 6rem;
  }
}

// > 1100px
article {
  @include desktop {
    background: $colorFourth;
    margin: 0;
    padding: 3rem 0;
  }
}
#descriptif {
  @include desktop {
    float: right;
    margin: 10rem 6% 0 0;
    display: flex;
    flex-direction: column;
    width: 44%;
    flex-wrap: wrap;
    align-items: center;
  }
}
#descriptif h3 {
  @include desktop {
    //padding: 1rem 1rem 2rem 1rem;
    padding: 0 1rem;
    margin-bottom: 4rem;
  }
}
ul.restaurant {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 492px;
    justify-content: space-between;
    padding: 0;
  }
}
.restaurant__card {
  @include desktop {
    width: 46%;
    margin-bottom: 0;
  }
}

@include desktop {
  section {
    padding-bottom: 6rem;
  }
}

section h2 {
  @include desktop {
    padding-left: 2.1rem;
  }
}

@include desktop {
  .restaurant__photo {
    height: 79.6%;
  }
}

@include desktop {
  .restaurant__card {
    width: 24%;
    height: 396px;
  }
}
