/* *** Descriptif *** */
#descriptif {
  text-align: center;
  padding: 1rem 0;
  background-color: $colorFourth;
  padding-bottom: 4.5rem;
  h3 {
    font-weight: 300;
    margin-bottom: 3rem;
    padding: 0 1rem;
  }
}

h2 {
  font-size: 1.7rem;
  padding: 0 2rem;
}

/* *** Fonctionnement *** */
article {
  margin-top: 3rem;
  margin-bottom: 3rem;
  h2 {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
}

ul {
  // padding-left: 1rem;
  padding: 1.1rem;
}

.use {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 83%;
  margin-left: 1rem;
  &--background {
    padding: 1.7rem;
    padding-left: 0;
    background-color: $colorFourth;
    border-radius: 1.8rem;
    @include shadows(
      $offset-y: 3px,
      $spread-radius: 3px,
      $colour: lighten(#c5c5c5, 13)
    );
    // 0px 3px 10px 3px
    &:last-child {
      background-color: lighten($colorPrimary, 35);
    }
  }
  &__li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 9%;
  }
  &__number {
    background-color: $colorPrimary;
    padding: 2px 7px;
    border-radius: 25px;
    color: white;
  }
  &__icon--mobile {
    font-size: 1.3rem;
    color: #7e7e7e;
  }
  &__icon--list {
    color: #7e7e7e;
  }
  &__icon--store {
    color: $colorPrimary;
  }
  em {
    font-weight: 600;
    font-style: normal;
  }
  &__em--move {
    position: relative;
    left: 4%;
  }
}

/* *** Restaurants *** */
section {
  background-color: $colorFourth;
  padding: 2rem 0 1rem 0;

  h2 {
    font-size: 1.5rem;
    padding-left: 1.1rem;
  }
}

.restaurant {
  padding-top: 0;
  a {
    height: 100%;
  }
}
