@mixin shadows($offset-y: 8px, $spread-radius: 0, $colour: #c5c5c5) {
  box-shadow: 0px $offset-y 10px $spread-radius $colour;
}

@mixin position($position: bottom) {
  object-position: $position;
}

@mixin shrikhand {
  font-family: "shrikhand";
  font-weight: 100;
}

@mixin background {
  background: linear-gradient(174deg, $colorSecondary 0%, $colorPrimary 100%);
}

@mixin rogner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ***  Responsive *** */
$breakpoints: (
  mobile1: 330px,
  mobile2: 500px,
  tablette1: 809px,
  desktop: 1100px,
  desktop2: 1400px,
);

// < 500px
@mixin mobile-small {
  @media all and (max-width: map-get($breakpoints, mobile1)) {
    @content;
  }
}

// > 500px
@mixin mobile-max {
  @media all and (min-width: map-get($breakpoints, mobile2)) {
    @content;
  }
}

// 500px à 810px
@mixin tablet-small {
  @media all and (min-width: map-get($breakpoints, mobile2)) and (max-width: map-get($breakpoints, tablette1)) {
    @content;
  }
}

// 500px à 1100px
@mixin tablet-small-desktop {
  @media all and (min-width: map-get($breakpoints, mobile2)) and (max-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

// > 810px
@mixin tabletmore {
  @media all and (min-width: map-get($breakpoints, tablette1)) {
    @content;
  }
}

// 810px à 1100px
@mixin tablet-desktop {
  @media all and (min-width: map-get($breakpoints, tablette1)) and (max-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

// > 1100px
@mixin desktop {
  @media all and (min-width: map-get($breakpoints, desktop))  {
    @content;
  }
}

// > 1400px
@mixin desktopmore {
  @media all and (min-width: map-get($breakpoints, desktop2)) {
    @content;
  }
}