$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorThird: #99E2D0;
$colorFourth: #f6f6f6; // gris clair
$colorForm: #eaeaea; // gris foncé
$colorFooter: #353535; // footer

// Responsive
// maps
$breakpoints: (
  mobile1: 330px,
  mobile2: 500px,
  tablette1: 810px,
  desktop: 1100px,
);